@use "../../../styles/" as *;

mat-sidenav-container,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 100%;
}

mat-sidenav {
  background-color: var(--app-white);
}

mat-sidenav-content {
  background-color: var(--slack-purple);
}