main {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 -10px 12px rgb(29 28 29 / 4%);
}
section {
  padding: 4rem 6rem;
}
a {
  cursor: pointer;
  text-align: center;
  padding: 20px 40px;
  border-radius: 6px;
  border: 1px solid #611f69;
  background: #fff;
  color: #611f69;
  font-weight: bold;
}

.download {
  background-color: #611f69;
  color: white;
  transition: 0.2s;
}

.download:hover {
  background-color: #521a5a;
}