@use "../../../../styles/" as *;

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

mat-toolbar {
  padding: 0 2rem;
  height: 80px;
}

mat-toolbar.mat-primary {
  background-color: var(--slack-purple);
}

mat-icon {
  transform: scale(1.1);
}
