main {
  height: 100%;
}

mat-icon {
  transform: scale(1.1);
}

div {
  border-bottom: solid 1px #dfdfdf;
}

input {
  appearance: none;
  border: none;
  outline: none;
  font-size: 16px;
}

section {
  border-radius: 5px;
  padding: 1rem;
  background-color: white;
}
